accelerate==0.33.0
atomicwrites==1.4.0
brotli==1.0.9
gmpy2==2.1.2
h2==4.1.0
js2py==0.74
notebook==7.0.8
outlines==0.0.46
protobuf==3.20.3
pyqt5==5.15.10
pysocks==1.7.1
scikit-learn==1.5.1
seaborn==0.13.2
sentencepiece==0.1.99
sip==6.7.12
torchaudio==2.3.1
torchvision==0.18.1
transformers==4.42.3
unicodedata2==15.1.0
win-inet-pton==1.1.0
zstandard==0.22.0
